@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.LandingPage {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #97322B 0%, #441916 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
}

.CenteredImage {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    width: 50vw; /* 60% of the viewport width */
    display: flex;
    flex-direction: column; /* Stack images vertically */
    justify-content: center;
    align-items: center;
}

.MonopolyImage {
    width: 100%;
    height: auto;
    opacity: 0; /* Initially hide the image */
    animation: fadeInFromBottom 1s ease-in-out forwards; /* Apply fade-in from bottom animation */
}

.DealImage {
    width: 25vw; /* 30% of the viewport width */
    max-width: 100%;
    max-height: 100%;
    opacity: 0; /* Initially hide the image */
    animation: slideInFromRight 1s ease-in-out 0.35s forwards; /* Apply slide-in from right animation with a delay */
}