@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Ensure the parent div centers its content */
.parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to center vertically */
    width: 100%; /* Full width */
}

form {
    position: relative; /* Make the form a positioned element */
    display: flex;
    align-items: center;
    background-color: #7C5755; /* Background color for the form */
    border-radius: 50px; /* Make the form a pill shape */
    padding: 10px 0px 10px 20px; /* Add some padding */
    margin: auto; /* Center the form within the parent */
    width: 90%; /* Ensure the form has enough width */
    max-width: 600px; /* Set a maximum width */
}

input[type="password"] {
    border: none;
    outline: none;
    background-color: #7C5755; /* Background color for the input field */
    color: white; /* Text color for the input field */
    padding: 10px;
    border-radius: 50px; /* Rounded corners */
    flex: 1; /* Take up remaining space */
}

/* Set the color of the placeholder text */
input[type="password"]::placeholder {
    color: #CFCFCF; /* Placeholder text color */
    opacity: 1; /* Ensure the color is fully opaque */
    font-family: 'DM Sans', sans-serif; /* Apply the font */
    font-weight: 700;
}

button[type="submit"] {
    position: absolute; /* Position the button absolutely */
    right: 0; /* Align to the right side */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    border: none;
    outline: none;
    background-color: white; /* Background color for the button */
    color: black; /* Text color for the button */
    padding: 10px 60px; /* Adjust padding */
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
    height: 100%; /* Adjust height as needed */
    font-family: 'DM Sans', sans-serif; /* Apply the font */
    font-weight: 700;
}

.PasswordForm {
    margin-top: 6rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1.5s forwards; /* Apply slide-in from right animation with a delay */
    width: 50%; /* Ensure the PasswordForm div takes full width */
}

body {
    overflow: hidden;
}

.errorMessage {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}