@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.PasswordPage {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #97322B 0%, #441916 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
}

.CenteredImage {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    width: 50vw; /* 60% of the viewport width */
    display: flex;
    flex-direction: column; /* Stack images vertically */
    justify-content: center;
    align-items: center;
}

.MonopolyImage {
    width: 100%;
    height: auto;
    opacity: 0; /* Initially hide the image */
    animation: fadeInFromBottom 1s ease-in-out forwards; /* Apply fade-in from bottom animation */
}

.DealImage {
    width: 25vw; /* 30% of the viewport width */
    max-width: 100%;
    max-height: 100%;
    opacity: 0; /* Initially hide the image */
    animation: slideInFromRight 1s ease-in-out 0.35s forwards; /* Apply slide-in from right animation with a delay */
}

form {
    position: relative; /* Make the form a positioned element */
    display: flex;
    align-items: center;
    background-color: #7C5755; /* Background color for the form */
    border-radius: 50px; /* Make the form a pill shape */
    padding: 10px 0px 10px 20px; /* Add some padding */
    margin: 20px; /* Add margin to ensure the form is not cut off */
    width: 80%; /* Ensure the form has enough width */
    max-width: 500px; /* Set a maximum width */
}

input[type="password"] {
    border: none;
    outline: none;
    background-color: #7C5755; /* Background color for the input field */
    color: white; /* Text color for the input field */
    padding: 10px;
    border-radius: 50px; /* Rounded corners */
    flex: 1; /* Take up remaining space */
}

/* Set the color of the placeholder text */
input[type="password"]::placeholder {
    color: #CFCFCF; /* Placeholder text color */
    opacity: 1; /* Ensure the color is fully opaque */
    font-family: 'DM Sans', sans-serif; /* Apply the font */
    font-weight: 700;
}

button[type="submit"] {
    position: absolute; /* Position the button absolutely */
    right: 0; /* Align to the right side */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    border: none;
    outline: none;
    background-color: white; /* Background color for the button */
    color: black; /* Text color for the button */
    padding: 10px 60px; /* Adjust padding */
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
    height: 100%; /* Adjust height as needed */
    font-family: 'DM Sans', sans-serif; /* Apply the font */
    font-weight: 700;
}

.PasswordForm {
    margin-top: 6rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1.5s forwards; /* Apply slide-in from right animation with a delay */
}

body {
    overflow: hidden;
}